<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap rescap desktop">

  <Identity
    Name="EyeRestSoftware.Eye-Rest"
    Publisher="CN=2C751A87-0159-47D5-93AD-8967182E99BD"
    Version="1.0.1.0"
    ProcessorArchitecture="x64" />

  <Properties>
    <DisplayName>Eye-Rest</DisplayName>
    <PublisherDisplayName>TTT Software</PublisherDisplayName>
    <Logo>Images\StoreLogo.scale-400.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Desktop"
      MinVersion="10.0.19041.0"
      MaxVersionTested="10.0.22621.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-us" />
  </Resources>

  <Applications>
    <Application
      Id="EyeRest"
      Executable="EyeRest.exe"
      EntryPoint="Windows.FullTrustApplication">

      <uap:VisualElements
        DisplayName="Eye-Rest"
        Description="Automated eye rest and break reminders for healthier screen time"
        Square150x150Logo="Images\Square150x150Logo.scale-200.png"
        Square44x44Logo="Images\Square44x44Logo.scale-200.png"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.scale-200.png" />
      </uap:VisualElements>

      <Extensions>
        <desktop:Extension Category="windows.startupTask"
                           Executable="EyeRest.exe"
                           EntryPoint="Windows.FullTrustApplication">
          <desktop:StartupTask
            TaskId="EyeRestStartup"
            Enabled="true"
            DisplayName="Eye Rest" />
        </desktop:Extension>
      </Extensions>

    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
